
    .signup-background {
        width: 40rem;
        border: solid 2px #4e7aa3;
        margin: auto;
        margin-top: 2rem;
        padding: 0.6rem 0.8rem;
    }

    .signup {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem 2.8rem;
    }

    .signup-form {
        font-size: 16px;
        width: 100%;
        display: flex;

    }

    .signup-form-text {
        background-color: #70ad46;
        border: 2px solid #4e7aa3;
        width: 8rem;
        padding: 0.6rem 0.6rem 0.2rem;
        margin-right: 2rem;
        text-align: center;
        color: #fff;
    }

    .input-text {
        width: 24rem;
        height: 2.6rem;
        padding-left: 0.4rem;
        border: 2px solid #4e7aa3;
    }

    .gender {
        display: flex;
        align-items: center;
        width: 50px;
        padding: 0px;
        margin-left: 10px;
    }

    select {
        border: 2px solid #4e7aa3;
        padding: 0px;
        outline: none;
        width: 30%;
        height: 2.6rem;
    }

    .input-birthday {
        width: 30%;
        height: 2.6rem;
        padding-left: 0.4rem;
        border: 2px solid #4e7aa3;
    }

    input[type="file"] {
        width: 24rem;
        height: 2.6rem;
        margin-top: 0.4rem;
    }

    .signup-submit {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    input[type="submit"] {
        height: 2.8rem;
        width: 8rem;
        background-color: #70ad46;
        border-radius: 10px;
        border: solid 2px #477990;
        cursor: pointer;
        color: white;
    }
   