
.signup-background {
    width: 20rem;
    border: solid 2px #4e7aa3;
    margin: auto;
    padding: 0.6rem 0.8rem;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 2rem;
}

.signup-form {
    font-size: 16px;
    width: 100%;
    display: flex;

}

.signup-form-text {
    background-color: #70ad46;
    border: 2px solid #4e7aa3;
    width: 8rem;
    padding: 0.6rem 0.6rem 0.2rem;
    margin-right: 2rem;
    text-align: center;
    color: #fff;
}

.input-text {
    width: 20rem;
    height: 2.6rem;
    padding-top: 2rem;
}

.input-text-img {
    margin-top: 1rem;
}

.signup-submit {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

input[type="submit"] {
    height: 2.8rem;
    width: 8rem;
    background-color: #70ad46;
    border-radius: 10px;
    border: solid 2px #477990;
    cursor: pointer;
    color: white;
}
